<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CronusServiceSoap1" maxReceivedMessageSize="20000000"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/CronusWebApplication/CronusService.asmx"
                binding="basicHttpBinding" bindingConfiguration="CronusServiceSoap1"
                contract="CronusReference1.CronusServiceSoap" name="CronusServiceSoap1" />
        </client>
    </system.serviceModel>
</configuration>